pkgbase = thermald
	pkgdesc = The Linux Thermal Daemon program from 01.org
	pkgver = 2.5.5
	pkgrel = 1
	url = https://01.org/linux-thermal-daemon
	arch = x86_64
	license = GPL2
	makedepends = autoconf-archive
	makedepends = python
	makedepends = gtk-doc
	depends = dbus-glib
	depends = libxml2
	depends = libevdev
	depends = upower
	source = https://github.com/intel/thermal_daemon/archive/v2.5.5/thermal_daemon-2.5.5.tar.gz
	b2sums = 1d8c66e69c3c9d89a063a8ab8e9b8432afcfaf471cbf0f7a8e24d217c7449856de2a79c51fa2786deb6e8ed62f73a79489a1b66fc9655f36746e98a6924ae367

pkgname = thermald
