pkgbase = thermald
	pkgdesc = The Linux Thermal Daemon program from 01.org
	pkgver = 2.5.7
	pkgrel = 1
	url = https://01.org/linux-thermal-daemon
	arch = x86_64
	license = GPL2
	makedepends = autoconf-archive
	makedepends = python
	makedepends = gtk-doc
	depends = dbus-glib
	depends = libxml2
	depends = libevdev
	depends = upower
	source = https://github.com/intel/thermal_daemon/archive/v2.5.7/thermal_daemon-2.5.7.tar.gz
	b2sums = d812e1a7e0b55dd5d06ff491183ad0061acb79d2c80a6a248456821676bd3728e28a5d6b23d8fe2565ca8424830f095de8595e85bdfc514f17418af50d7e7284

pkgname = thermald
