pkgbase = thermald
	pkgdesc = The Linux Thermal Daemon program from 01.org
	pkgver = 2.5.9
	pkgrel = 3
	url = https://github.com/intel/thermal_daemon
	arch = x86_64
	license = GPL2
	makedepends = autoconf-archive
	makedepends = git
	makedepends = gtk-doc
	makedepends = python
	depends = dbus-glib
	depends = libevdev
	depends = libxml2
	depends = upower
	source = git+https://github.com/intel/thermal_daemon.git#tag=v2.5.9
	b2sums = bd4bb51710363cb14c8343f26bb895bdd8335fe7bb48b42452d812157e5b08d4ac96e0027ff9d648633d2aa10dd160957cb6fa7a3ca579749b02f533e6be5f44

pkgname = thermald
